<div id="<%= dom_id producto %>">
  <%= image_tag producto.photo %>
  <p>
    <strong>Name:</strong>
    <%= producto.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= producto.description %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= producto.price %>
  </p>

</div>

